.credits-sources {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu";
}

.source-link {
  text-decoration: none;
  color: rgb(42, 42, 42);
}

.source-link:hover {
  color: rgb(175, 57, 91);
}

.source-link > p {
  margin: 0.3rem;
}

.sources-header {
  margin-bottom: 0.75rem;
}

h4 {
  color: rgb(175, 57, 91);
  font-family: "Ubuntu";
  font-size: 1.2rem;
  margin: 0 0 2rem 0;
}
