.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.upper-header {
  width: 100vw;
  display: flex;
}

.login-info {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 2rem 0 0;
}

.login-info > p {
  font-size: 1.2rem;
  font-family: "Pacifico";
}

.login-info > p > span {
  color: rgb(175, 57, 91);
}

.main-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7rem;
  background: rgb(219, 244, 253);
  padding: 0 1rem 1rem 1rem;
  gap: 1.5rem;
}

.main-logo__picture {
  display: flex;
  align-items: center;
}

.main-logo__picture > img {
  max-width: 100px;
  height: 100px;
}

.main-logo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-logo__text h1 {
  font-size: 3rem;
  font-family: "Pacifico";
  margin: 0;
  color: rgb(26, 26, 26);
}

.main-logo__text > h2 {
  margin: 0;
  font-family: "Ubuntu";
  font-style: italic;
}

.main-nav {
  color: white;
  width: 100%;
  height: 4rem;
  margin: 0 0 1rem 0;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  background: rgb(109, 186, 211);
  box-shadow: 0 3px 3px -1px rgb(191, 191, 191);
}

.main-nav > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-nav__element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 5rem;
  padding: 1rem 2rem 1rem 2rem;
}

.add-product-button {
  width: 7.5rem;
}

.main-nav__element:hover {
  background: rgb(77, 159, 187);
}

.main-nav__element.active {
  background: rgb(90, 172, 199);
}

.logo-image {
  max-width: 200px;
}

.cart-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-bar > p {
  margin: 0;
}

.cart-nav__element {
  position: relative;
}

.cart-amount {
  position: absolute;
  top: -10px;
  right: -16px;
  font-size: 0.8rem;
  background-color: rgb(175, 57, 91);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 850px) {
  .main-logo {
    gap: 0.25rem;
    padding: 0.2rem;
    height: 7.5rem;
  }

  .main-logo__text > h1 {
    font-size: 1.8rem;
  }

  .main-logo__text > h2 {
    font-size: 1.1rem;
  }

  .main-logo__picture > img {
    max-width: 80px;
    max-height: 80px;
  }

  .main-nav {
    gap: 0;
    height: 3rem;
  }

  .cart-amount {
    position: absolute;
    top: -5px;
    right: -13px;
    font-size: 0.8rem;
    background-color: rgb(175, 57, 91);
    padding: 0.15rem 0.4rem;
    border-radius: 1rem;
  }

  .main-nav__element {
    width: 4.8rem;
    padding: 0.75rem 0 0.75rem 0;
    font-size: 0.7em;
  }

  .main-nav__element:last-child {
    width: 6rem;
  }

  .login-info {
    height: 1rem;
    padding-right: 0.5rem;
  }

  .login-info > p {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 851px) and (max-width: 950px) {
  .login-info > p {
    font-size: 1rem;
  }
}
