.product-nav {
  margin: 1rem 0 1.5rem 0;
  display: flex;
  gap: 3rem;
}

.product-cat {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.product-cat__link {
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  color: rgb(26, 26, 26);
}

.product-cat > p {
  font-family: "Caveat", cursive;
  font-size: 1.7rem;
  color: rgb(26, 26, 26);
  margin: 0.75rem;
}

.product-cat:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.07);
}

.product-cat__logo {
  background: rgb(207, 243, 255);
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-cat__logo > img {
  max-width: 55px;
}

@media only screen and (max-width: 600px) {
  .product-nav {
    gap: 1rem;
    margin-top: 0.3rem;
  }

  .product-cat__logo {
    width: 3rem;
    height: 3rem;
  }

  .product-cat__logo > img {
    max-width: 45px;
  }

  .product-cat > p {
    font-size: 1.3rem;
  }
}
