.product-form {
  margin: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 27rem;
}

.product-form > label {
  width: 27rem;
}

.product-form > label > .form-input {
  width: 25rem;
}

.input-description {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 25rem;
  height: 7rem;
  border: none;
  border-radius: 1rem;
  resize: none;
  box-shadow: 1px 1px 1px #d0d0d0 inset;
  font-family: Arial;
  font-size: 1rem;
}

.category {
  width: 27rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px #d0d0d0 inset;
  font-size: 1rem;
}

.form-input,
select,
textarea {
  color: rgb(49, 49, 49);
}

.input-checkbox {
  appearance: none;
  border: none;
  width: 2rem;
  height: 2rem;
  background-color: white;
}

.input-checkbox:checked {
  background-color: #007bff; /* Change the background color when the checkbox is checked */
  border-color: #007bff;
}

.form-message {
  display: flex;
  flex-direction: column;
  /* height: rem; */
  display: flex;
  align-items: center;
}

.form-message__error {
  font-family: "Ubuntu";
  margin: 0.2rem;
  font-size: 1.2rem;
  color: rgb(222, 0, 0);
}

.form-message__success {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  color: rgb(0, 111, 0);
}

@media only screen and (max-width: 600px) {
  .product-form {
    width: 100%;
  }
  .product-form > label {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .product-form > label > input {
    width: 90%;
  }

  .category {
    width: 100%;
  }

  .input-description {
    width: 90%;
  }
}
