.product-item {
  width: 15rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 239, 241);
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}

.product-item:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.03);
}

.product-item__image {
  height: 12rem;
  width: 15rem;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.product-item__image > img {
  height: 100%;
}

.recommended-item__image {
  height: 22rem;
  width: 20rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}

.product-item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
}

.product-item__text > h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: rgb(175, 57, 91);
}

.product-item__actions {
  display: flex;
  gap: 1rem;
}
